In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv("players_mvp_stats.csv")
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,33,49,0.402,31.0,112.1,115.1,-3.08
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,33,49,0.402,31.0,112.1,115.1,-3.08
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,33,49,0.402,31.0,112.1,115.1,-3.08
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,33,49,0.402,31.0,112.1,115.1,-3.08
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,33,49,0.402,31.0,112.1,115.1,-3.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14692,14692,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,51,31,0.622,0.0,115.5,112.1,3.22
14693,14693,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,51,31,0.622,0.0,115.5,112.1,3.22
14694,14694,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,51,31,0.622,0.0,115.5,112.1,3.22
14695,14695,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,51,31,0.622,0.0,115.5,112.1,3.22
14696,14696,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,51,31,0.622,0.0,115.5,112.1,3.22

In [3]:
del stats['Unnamed: 0']

In [4]:
#del stats['PF']

In [5]:
stats.isnull().sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          59
3P            0
3PA           0
3P%        2086
2P            0
2PA           0
2P%         100
eFG%         59
FT            0
FTA           0
FT%         521
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [6]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]]

                Player  FTA
77          John Coker  0.0
92        Jason Sasser  0.0
103    Adrian Caldwell  0.0
119       Bruno Šundov  0.0
158     Jamal Robinson  0.0
...                ...  ...
14556    Mark McNamara  0.0
14584      Luke Zeller  0.0
14637      Myron Brown  0.0
14659      Malcolm Lee  0.0
14693      Steve Novak  0.0

[521 rows x 2 columns]

In [7]:
stats = stats.fillna(0)

In [8]:
#stats['PF'] = stats['PF'].apply(pd.to_numeric, errors='coerce')

## Training a machine Learning model

In [9]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [10]:
# For our predictors we remove every categorical variables and the variable we want to predict ("Share") 
#So we are removing everything that directly correlate to share (Pts Won a& Pts Max)

predictors = [ 'Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
'3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV','PF', 'PTS', 'Year', 'W', 'L', 'W/L%', 'GB', 'PS/G',
'PA/G', 'SRS']

In [11]:
# for Train we are going to train everything before 2021

train = stats[stats["Year"] < 2022]
train.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [12]:
#predict our train data on the test data
#Not to test on data that is before data you are training
# You cannot train the data through 1995 to 2022 and then make prediction on 1994 because that's info the algorithm  
#wouldn't have if it was running in the real world
# when having time series data be careful not to use data from after your test
test = stats[stats["Year"] == 2022]

In [13]:
# Ridge regression is degsign to prevent overfitting, it shrinks the linear regression coefficient 

from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1) # alpha just control how much the coefficient is going to be shrunk to prevent overfitting

In [14]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [15]:
#stats['PF'].name in stats.select_dtypes(include='category').columns

In [16]:
predictions =reg.predict(test[predictors])

In [17]:
predictions = pd.DataFrame(predictions, columns = ["predictions"], index=test.index)
predictions

       predictions
648       0.017396
649      -0.021874
650      -0.000608
651       0.019130
652       0.001517
...            ...
12522    -0.014145
12523    -0.002101
12524     0.011320
12525     0.008183
12526    -0.043954

[605 rows x 1 columns]

In [18]:
# We are printing now the share of every player in the 2022 of winning MVP 

combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [19]:
combination

                Player  Share  predictions
648       Aaron Gordon    0.0     0.017396
649      Austin Rivers    0.0    -0.021874
650            Bol Bol    0.0    -0.000608
651       Bones Hyland    0.0     0.019130
652        Bryn Forbes    0.0     0.001517
...                ...    ...          ...
12522     Micah Potter    0.0    -0.014145
12523  Rodney McGruder    0.0    -0.002101
12524        Saben Lee    0.0     0.011320
12525       Saddiq Bey    0.0     0.008183
12526   Trayvon Palmer    0.0    -0.043954

[605 rows x 3 columns]

In [20]:
#We want to see all the players that won MVP 
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions
663             Nikola Jokić  0.875     0.187793
837              Joel Embiid  0.706     0.190678
11692  Giannis Antetokounmpo  0.595     0.220323
907             Devin Booker  0.216     0.087522
11498            Luka Dončić  0.146     0.152295
1179            Jayson Tatum  0.043     0.095273
12240              Ja Morant  0.010     0.119353
6427           Stephen Curry  0.004     0.084838
905               Chris Paul  0.002     0.077007
8270            LeBron James  0.001     0.160865

## Identifying an error metric

In [21]:
# The error metric let you know if the alghorithm did well or not

from sklearn.metrics import mean_squared_error
mean_squared_error(combination["Share"], combination["predictions"])

# it is the mean difference between the predictions and the actual values
# It isn't meaningful because a lot of the values are 0

0.002238972274441587

In [22]:
combination["Share"].value_counts()

0.000    593
0.001      3
0.875      1
0.706      1
0.002      1
0.216      1
0.043      1
0.004      1
0.146      1
0.595      1
0.010      1
Name: Share, dtype: int64

In [23]:
# Let's organize our dataframe by players and MVP voting rank

combination = combination.sort_values("Share", ascending= False)
combination["Rk"] = list(range(1, combination.shape[0]+1))

In [24]:
combination.head(10)

                      Player  Share  predictions  Rk
663             Nikola Jokić  0.875     0.187793   1
837              Joel Embiid  0.706     0.190678   2
11692  Giannis Antetokounmpo  0.595     0.220323   3
907             Devin Booker  0.216     0.087522   4
11498            Luka Dončić  0.146     0.152295   5
1179            Jayson Tatum  0.043     0.095273   6
12240              Ja Morant  0.010     0.119353   7
6427           Stephen Curry  0.004     0.084838   8
905               Chris Paul  0.002     0.077007   9
8270            LeBron James  0.001     0.160865  10

In [25]:
# We want to figure out the rank now for our predictions

combination = combination.sort_values("predictions", ascending= False)
combination["predicted_Rk"] = list(range(1, combination.shape[0]+1))

In [26]:
combination.head(10)

                      Player  Share  predictions   Rk  predicted_Rk
11692  Giannis Antetokounmpo  0.595     0.220323    3             1
837              Joel Embiid  0.706     0.190678    2             2
663             Nikola Jokić  0.875     0.187793    1             3
8270            LeBron James  0.001     0.160865   10             4
11498            Luka Dončić  0.146     0.152295    5             5
6214            Kevin Durant  0.001     0.143605   12             6
12240              Ja Morant  0.010     0.119353    7             7
8260           Anthony Davis  0.000     0.111588  112             8
11834             Trae Young  0.000     0.109624  289             9
11905            Rudy Gobert  0.000     0.105142  233            10

In [27]:
#combination.sort_values("Share", ascending= False).head(11)

In [28]:
# Out of the top 5 how many did we actually predict the players in the top 5

In [29]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending= False).head(5)
    predicted = combination.sort_values("predictions", ascending= False)
    ps = []
    found= 0
    seen = 1
    for index, row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found/seen)
        seen += 1
    return sum(ps) / len(ps)

In [30]:
find_ap(combination)

# This is a good error metric and tells us how accurate our model predict the top 5 MVPs

0.8155555555555555

## implementing backtesting to predict each year

In [31]:
years = list(range(1991,2023))

In [32]:
# It will help us make predictions for every year from 1996 to 2022


aps = []
all_predictions =[] 
for year in years[6:]:      # years[5:] = 1996
    train=stats[stats["Year"] < year]   # predict every year starting in 1996
    test = stats[stats["Year"] == year]   # test data will always be the year we are trying to predict
    reg.fit(train[predictors], train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns = ["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [33]:
sum(aps) / len(aps)

# based on our alghorithm our predictions is 70% accurate

0.7059208427190266

In [34]:
def add_ranks(combination):
    combination = combination.sort_values("Share", ascending= False)
    combination["Rk"] = list(range(1, combination.shape[0]+1))
    combination = combination.sort_values("predictions", ascending= False)
    combination["predicted_Rk"] = list(range(1, combination.shape[0]+1))
    combination["Diff"] = combination["Rk"] - combination["predicted_Rk"]
    return combination

In [35]:
# This our prediction for the 1998 season. It gives us the actual rank, predicted rank and Difference rank
# we sort it by the people who had the biggest difference Diff
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"] < 6].sort_values("Diff", ascending = False)

                 Player  Share  predictions  Rk  predicted_Rk  Diff
14055  Shaquille O'Neal  0.268     0.204469   4             1     3
1737        Karl Malone  0.726     0.185292   2             2     0
11019    Michael Jordan  0.934     0.150974   1             3    -2
10325        Tim Duncan  0.128     0.092330   5             8    -3
1267        Gary Payton  0.372     0.076688   3            12    -9

In [36]:
def backtest(stats, model, year, predictors):
    aps = []
    all_predictions =[] 
    for year in years[6:]:      # years[5:] = 1996
        train=stats[stats["Year"] < year]   # predict every year starting in 1996
        test = stats[stats["Year"] == year]   # test data will always be the year we are trying to predict
        model.fit(train[predictors], train["Share"])
        predictions = reg.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns = ["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
        
    return sum(aps)/len(aps), aps, pd.concat(all_predictions)

In [37]:
mean_ap, apps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [38]:
mean_ap

0.7059208427190266

## Diagnosing model Performance

In [39]:
# Out of all of the people that were voted in the top 5 for MVP from 1991-2022, which player has the biggest
# has the top 10 biggest difference

all_predictions[all_predictions["Rk"] <= 5].sort_values("Diff").head(10)

                 Player  Share  predictions  Rk  predicted_Rk  Diff
8671          Glen Rice  0.117     0.025113   5            69   -64
1334         Jason Kidd  0.712     0.029379   2            58   -56
5434         Steve Nash  0.839     0.042311   1            44   -43
3863   Chauncey Billups  0.344     0.042786   5            47   -42
13345       Joakim Noah  0.258     0.042052   4            46   -42
8939    Peja Stojaković  0.228     0.039474   4            35   -31
5452         Steve Nash  0.739     0.066612   1            28   -27
1513         Chris Paul  0.138     0.076449   5            31   -26
4926       Tim Hardaway  0.207     0.047535   4            30   -26
5467         Steve Nash  0.785     0.083025   2            19   -17

In [40]:
# Another thing we can do it's to look at our coefficients
# This will tell us which variables the alghorithm it's keying the most on  
# the highest coefficients indicate the variables that are the most important to our model

pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis = 1).sort_values(0, ascending=False)  

# the (0) in the sort_values means sort it on the first column
# It shows which columns are the most important to our model

           0     1
13  0.074937  eFG%
18  0.034875   DRB
17  0.020887   ORB
29  0.020256  W/L%
31  0.014197  PS/G
10  0.014168    2P
21  0.012165   STL
15  0.011309   FTA
22  0.011214   BLK
20  0.006675   AST
5   0.006359   FGA
25  0.006173   PTS
4   0.005080    FG
7   0.004974    3P
12  0.003750   2P%
0   0.000493   Age
28  0.000118     L
1   0.000108     G
2   0.000012    GS
30 -0.000046    GB
27 -0.000118     W
26 -0.000370  Year
24 -0.003684    PF
3  -0.003853    MP
16 -0.005606   FT%
14 -0.006282    FT
23 -0.008791   TOV
9  -0.009053   3P%
8  -0.012829   3PA
32 -0.014531  PA/G
33 -0.015193   SRS
11 -0.017363   2PA
19 -0.027542   TRB
6  -0.140922   FG%

## Adding more predictors

In [46]:
# one way to add more predictors to our model to make it more accurate
# we can look at the ratio between the season averages for all the players and look at a particular player
# for example if you tripled the scoring average in a season that might tell the alghorithm something

#The mean in our lambda function will calculate the mean of PTS, AST, STL, ETC.. and then divide every player average 
# by the mean --- if a player number is below the mean then you will have .1, .2 --- if the player number is above the
# mean you will have 2, 3 , 4 as value

stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

In [47]:
stat_ratios

            PTS       AST       STL       BLK        3P  Year
0      1.013334  0.420714  0.961127  0.673469  0.508587   1.0
1      1.614653  1.028412  1.647646  0.673469  4.577279   1.0
2      0.311795  0.093492  0.274608  1.571429  0.000000   1.0
3      0.200440  0.186984  0.274608  0.000000  0.000000   1.0
4      2.383005  1.636110  1.784950  0.897959  1.525760   1.0
...         ...       ...       ...       ...       ...   ...
14692  0.735752  0.819562  0.479763  1.528302  0.650951   1.0
14693  0.071202  0.000000  0.000000  0.000000  0.130190   1.0
14694  1.281633  0.601012  1.119447  2.547170  0.520761   1.0
14695  0.474679  0.218550  0.319842  1.273585  0.650951   1.0
14696  1.008693  0.655649  1.119447  0.509434  2.343424   1.0

[14697 rows x 6 columns]

In [51]:
stats[["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [52]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,PTS_T,AST_R,STL_R,BLK_R,3P_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.402,31.0,112.1,115.1,-3.08,1.013334,0.420714,0.961127,0.673469,0.508587
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.402,31.0,112.1,115.1,-3.08,1.614653,1.028412,1.647646,0.673469,4.577279
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.402,31.0,112.1,115.1,-3.08,0.311795,0.093492,0.274608,1.571429,0.000000
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.402,31.0,112.1,115.1,-3.08,0.200440,0.186984,0.274608,0.000000,0.000000
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.402,31.0,112.1,115.1,-3.08,2.383005,1.636110,1.784950,0.897959,1.525760

In [54]:
predictors += ["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [57]:
mean_ap, apps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [59]:
mean_ap

0.7016104148390828

In [65]:
stats["Pos"].unique()

array(['PF', 'SG', 'SF', 'PG', 'C', 'PG-SG', 'PF-SF', 'SG-PG', 'PF-C',
       'SG-SF', 'SF-PF', 'SF-SG', 'C-PF', 'SG-PF', 'PG-SF', 'SG-PG-SF',
       'SF-C'], dtype=object)

In [62]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes

In [64]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,GB,PS/G,PA/G,SRS,PTS_T,AST_R,STL_R,BLK_R,3P_R,NPos
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,31.0,112.1,115.1,-3.08,1.013334,0.420714,0.961127,0.673469,0.508587,2
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,31.0,112.1,115.1,-3.08,1.614653,1.028412,1.647646,0.673469,4.577279,12
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,31.0,112.1,115.1,-3.08,0.311795,0.093492,0.274608,1.571429,0.000000,2
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,31.0,112.1,115.1,-3.08,0.200440,0.186984,0.274608,0.000000,0.000000,2
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,31.0,112.1,115.1,-3.08,2.383005,1.636110,1.784950,0.897959,1.525760,8

In [63]:
stats["Pos"].unique()

array(['PF', 'SG', 'SF', 'PG', 'C', 'PG-SG', 'PF-SF', 'SG-PG', 'PF-C',
       'SG-SF', 'SF-PF', 'SF-SG', 'C-PF', 'SG-PF', 'PG-SF', 'SG-PG-SF',
       'SF-C'], dtype=object)

In [67]:
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [69]:
stats["NTm"].value_counts()

#but having a higher number doesnt tell anything to alghorythm, reagression needs to follow a certain guideline with 
#linear relationship. Linear regression can't pick up on categorical relationship.

7     522
27    514
8     514
17    512
14    510
11    508
0     506
12    505
9     501
1     501
31    497
26    496
15    496
13    494
18    494
5     493
24    489
34    486
10    486
30    486
28    485
29    484
19    482
33    441
36    410
16    353
20    343
32    263
25    240
2     182
4     177
23    163
3     157
21    143
6     130
37    114
35     88
22     32
Name: NTm, dtype: int64

# Use a random forest

In [70]:
# Use a arandom forest because it can easily pick up on categorical data
#A random forest creates a series of decision trees and averages the prediction from those trees

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 50, random_state = 1, min_samples_split=5)

mean_ap, apps, all_predictions = backtest(stats, rf, years[29:], predictors)

#n_estimator-- create the number of decision trees you want, you can have up to 500 beyond that you will probably have
#a dimisnish return
#randome state --- it can be 1 meaning that if we run the same code twice it will give us the same results
# In a deciosion tree the model works by essential creating a series of branches by splitting the data up and by 
#specific columns
#min_samples_split -- means that split unless there's a certain number of values in that node to be split
# The higher you set the min_samples_split the more resistant the random forest is to overfiting and the faster it runs
# the lowest you set the min_samples_split the more accurate but the more risk it will overfit

In [71]:
mean_ap

0.7555438644566517

In [74]:
mean_ap, apps, all_predictions = backtest(stats, reg, years[29:], predictors)

In [75]:
mean_ap

0.7016104148390828

In [ ]:
# Random forest was more accurate than linear model